@media screen and (max-width: 768px) {
  header {
    display: none;
  }

  .up-footer {
    background-color: gray;
  }

  .first-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item a {
    display: none;
    padding-top: 30px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
  }

  .menu {
    display: block;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0 32px;
    background-color: #606060;
  }

  ul .menu-item {
    font-size: 30px;
    font-weight: 700;
    color: #ec5242;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    text-decoration: none;
  }

  .showMenu {
    transform: translateY(0);
  }

  .hamburger {
    margin-top: 2vw;
    z-index: 100;
    position: fixed;
    overflow: hidden;
    margin-bottom: 1rem;
    display: block;
  }

  .main-header {
    text-align: start;
    font-size: 3rem;
    background: url(images/undraw_book_lover_mkck\ .svg) no-repeat;
    background-position: top right;
    background-size: 50vw;
    color: rgb(255, 81, 0);
  }

  .first-line {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15vw;
    font-size: 8vw;
  }

  .paragraph-one {
    padding: 0 18px;
  }

  .date-paragraph {
    padding: 0 10px;
    font-size: 6vw;
  }

  .location-paragraph {
    margin-top: -5vw;
    padding: 0 10px;
    font-size: 4vw;
  }

  .main-program {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.13'/%3E%3C/svg%3E");
    background-attachment: fixed;
    width: 100%;
    margin: 0;
  }

  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0 12px;
  }

  .list-image {
    width: 7vw;
    height: 18%;
  }

  h5 {
    font-size: 0.9rem;
    color: #ec5242;
    font-weight: bold;
  }

  .inside p {
    font-size: 0.7rem;
    font-weight: 700;
    color: whitesmoke;
    width: 33%;
  }

  .main-title {
    color: whitesmoke;
    font-size: 5vw;
    font-weight: bold;
    padding-right: 10vw;
  }

  .cont {
    width: 100%;
    background-color: #4d272700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23555555'/%3E%3Cstop offset='1' stop-color='%23555555'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.13'/%3E%3C/svg%3E");
    background-attachment: fixed;
  }

  .inside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px 0;
  }

  .btn {
    background-color: #ec5242;
    align-self: center;
    width: 70vw;
    height: 20vw;
    color: whitesmoke;
    font-size: 5vw;
    font-weight: bolder;
    cursor: pointer;
    display: block;
  }

  .about-title {
    color: rgb(255, 81, 0);
    font-size: 8vw;
    font-weight: 600;
    text-align: center;
  }

  .main-header2 {
    font-size: 14vw;
    font-weight: bolder;
    line-height: 12vw;
    color: #ec5242;
    text-align: center;
    background: white url(images/undraw_book_lover_mkck\ .svg) no-repeat;
    background-position: top right;
    background-size: 50vw;
  }

  .about-paragraph {
    color: #686868;
    font-size: 4vw;
    font-weight: bold;
    width: 50%;
    text-align: center;
    line-height: 5vw;
  }

  .about-contact {
    color: #686868;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .past-events {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .strong {
    color: black;
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 100px;
  }

  .last-header {
    color: black;
    font-size: 6vw;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
  }

  .line {
    border-bottom: 2px solid orangered;
    margin-top: -20px;
    margin-left: 280px;
    margin-right: 280px;
  }

  .logo-brand {
    width: 50%;
    margin: auto;
    display: none;
  }

  .contenedor {
    position: relative;
    padding: 0;
    margin: 24px;
  }

  .centrado {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: whitesmoke;
    background-color: rgba(236, 82, 66, 0.5);
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-up {
    background-color: #606060;
  }

  .footer-title {
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
  }

  .footer-second {
    display: flex;
    justify-content: start;
    list-style: none;
    width: 100%;
  }

  .mozilla {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #a8a8a8;
    font-size: 8vw;
    margin: 0 3vw;
  }

  .google {
    font-family: "Times New Roman", Times, serif;
    color: #a8a8a8;
    font-size: 8vw;
    margin: 0 2vw;
  }

  .air {
    font-family: cursive;
    font-size: 8vw;
    color: #a8a8a8;
  }

  .event-pictures {
    width: 100%;
    height: 100%;
  }

  .kakao {
    font-size: 7vw;
    color: #a8a8a8;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0 2vw;
    margin: 0 2vw;
  }

  .naver {
    font-size: 8vw;
    color: #a8a8a8;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: 0 2vw;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .bottom-footer {
    width: 30%;
  }

  .text-footer {
    font-size: 5vw;
    color: #606060;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-brand1 {
    width: 35vw;
    display: block;
    margin: auto;
  }

  .logo-brand2 {
    display: none;
  }

  .speakers-container {
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
  }

  .speakers-images {
    width: 25vw;
    height: 50vw;
    padding-top: 20vw;
  }

  .speaker-cards {
    display: flex;
  }

  .speaker-right {
    display: flex;
    flex-direction: column;
    height: 80vw;
    padding-bottom: 30vw;
    margin-right: 3vw;
    margin-left: 2vw;
  }

  .no {
    display: none;
  }

  .desk-program {
    color: whitesmoke;
    font-size: 5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vw;
  }

  .speaker-general {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #speaker-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }

  .speaker-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    column-gap: 16px;
  }

  .speaker-img {
    width: 120px;
    height: 120px;
  }

  .speaker-detail {
    font-size: 16px;
  }

  .speaker-name {
    margin: 0;
  }

  .photos-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .down-p1 {
    font-size: 0.6rem;
  }

  .down-p2 {
    font-size: 0.6rem;
  }
}
